<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'items/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>


</head>
<body>



    <div class="container">
        <div style="display: inline;" class="d-flex align-items-center mt-5">
            <img style="width: 20%;" src="{{ equipo.imagen_escudo.url }}">
            <h1 style="color: white; font-size:80px">{{equipo.nombre}}</h1>
        </div>




    <div class="d-flex mt-5">
        {% for index in range_copa_rey %}
            <span><img class="img_copa_rey" src="{% static 'items/img/71ELo3CczKL._AC_SY550_-removebg-preview.png' %}"></span>
        {% endfor %}
    </div>

    <div class="d-flex mt-5">
        {% for index in range_copa_liga %}
            <span><img class="img_copa_liga" src="{% static 'items/img/liga-removebg-preview.png' %}"></span>
        {% endfor %}
    </div>

     <div class="d-flex mt-3 mb-5">
        {% for index in range_copa_europa %}
            <span><img class="img_copa_europa" src="{% static 'items/img/champions.png' %}"></span>
        {% endfor %}
    </div>


        <table class="table table-sm mt-5" style="color: white">
            <!--    PORTERO-->
            <thead>
            <tr >
                <th  scope="col">Dorsal</th>
                <th scope="col">PORTEROS</th>
                <th scope="col">Pais</th>
            </tr>
            </thead>
            <tbody>
            {% for jugador in plantilla %}
            {% if jugador.position_jugador == 'Portero' %}

                <tr class="table-danger">
                    <td>{{jugador.dorsal}}</td>
                    <td>{{jugador.nombre_jugador}}</td>
                    <td>{{jugador.pais}}</td>
                </tr>

            {% endif %}
            {% endfor %}
            </tbody>
            <!--    DEFENSA-->
            <thead>
            <tr>
                <th scope="col">Dorsal</th>
                <th scope="col">DEFENSAS</th>
                <th scope="col">Pais</th>
            </tr>
            </thead>
            <tbody>
             {% for jugador in plantilla %}
            {% if jugador.position_jugador == 'Defensa' %}

                <tr class="table-danger">
                    <td>{{jugador.dorsal}}</td>
                    <td>{{jugador.nombre_jugador}}</td>
                    <td>{{jugador.pais}}</td>
                </tr>


            {% endif %}
            {% endfor %}

            </tbody>
        <!--    CENTROCAMPISTA-->
            <thead>
            <tr>
                <th scope="col">Dorsal</th>
                <th scope="col">CENTROCAMPISTA</th>
                <th scope="col">Pais</th>
            </tr>
            </thead>
            <tbody>
             {% for jugador in plantilla %}
            {% if jugador.position_jugador == 'Centrocampista' %}

                <tr class="table-danger">
                    <td>{{jugador.dorsal}}</td>
                    <td>{{jugador.nombre_jugador}}</td>
                    <td>{{jugador.pais}}</td>
                </tr>

            {% endif %}
            {% endfor %}
            </tbody>
            <!--    DELANTERO-->
            <thead>
            <tr>
                <th scope="col">Dorsal</th>
                <th scope="col">DELANTERO</th>
                <th scope="col">Pais</th>
            </tr>
            </thead>
            <tbody>
             {% for jugador in plantilla %}
            {% if jugador.position_jugador == 'Delantero' %}

                <tr class="table-danger">
                    <td>{{jugador.dorsal}}</td>
                    <td>{{jugador.nombre_jugador}}</td>
                    <td>{{jugador.pais}}</td>
                </tr>

            {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>

</body>
</html>